.navbutton {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    background-color: #324c70;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px
}

.lgs {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'M PLUIS 1p', sans-serif;
    font-weight: 600;
    float: left;
    text-align: center;
}

.lgs:hover {
    color: #d1c9c9;
    transition: 0.3s ease-out;
}

.navbutton:hover {
    background-color: #233957;
    transition: 0.3s ease-out;
    color: #d1c9c9;
}

.amogus {
    position: absolute;
    margin-top: 165px;
    margin-left: 13px;
    width: 100px;
    opacity: 0;
}

.amogus:hover {
    opacity: 1;
}

.navbutton:hover::after {
    width: 100%;
}

.nav {
    background-color: #2a4366;
    max-width: 100%;
    padding: 15px;
    text-align: right;
    border-radius: 15px;
}

.body {
    height: 100%;
    width: 100%;
}

.welcomemsg {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 4%;
    color: #2a4366;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
}

hr.rounded {
    margin-top: -0.8%;
    border-top: 3px solid #2a4366;
    border-radius: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

.category1 {
    margin-left: 15%;
    color: #2a4366;
    font-size: 30px;
    font-weight: 200;
    font-family: 'M PLUS 1p', sans-serif;
}

.category2 {
    margin-top: 6%;
    margin-left: 15%;
    font-family: 'M PLUS 1p', sans-serif;
    color: #2a4366;
    font-size: 30px;
    font-weight: 200;
}